:root {

}

* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8ffff;
}

.header {
    padding: 40px 60px;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header .header__menu {
    font-weight: 600;
    transform: rotate(90deg);
    font-size: 20px;
}
.header .header__title {
    font-weight: 300;
}

.gallery {
    background-color: #eeeff5;
    padding: 40px;
}
.content__wrap {
    padding: 0px 40px 40px 40px;
}

.gallery__wrapper, .content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.gallery .gallery__item {
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.gallery .gallery__item:first-child {
    background-image: url('https://i.pinimg.com/564x/72/a6/93/72a693dd81812ceadb0f92269eae58d9.jpg');
}
.gallery .gallery__item:nth-child(2) {
    background-image: url('https://i.pinimg.com/564x/fd/c6/41/fdc64176f6d81c4276b5eb1f5e7e3e0d.jpg?b=t'); 
}
.gallery .gallery__item:last-child {
    background-image: url('https://i.pinimg.com/564x/53/98/15/539815b4220b194070972a1cc0854ada.jpg');
}

.content {
    margin-top: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
}
.content .content__title {
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
}
.content .content__description {
    color: rgba(0,0,0,0.5);
    font-size: 13px;
}
.content .content__column {
    display: grid;
    grid-gap: 30px;
}
.content .content__datalist {
    display: grid;
    grid-template-columns: repeat(3, 98px);
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 30px 0;
}
.content__datalist .datalist__name {
    display: block;
    font-size: 14px;
    font-weight: 600;
}
.content__datalist .datalist__value {
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    font-weight: 600;
}
.content .content__link {
    position: relative;
    top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid #3498db;
}